.cont_container {
  display: grid;
  grid-template-rows: 8% 90%;
  
  width: 100%;

}

._001_content {
  display: grid;
  margin-top: 2%;
  
}

._001_image {
  width: 100%;

}

._001_product {
  position: relative;

}

._001_bio_1 {
  position: absolute;
  transform: translate(-50%, -50%);
}

._001_form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
}